@model IEnumerable<ASP_Project.Common.Models.ClientProduct>
@{
    ViewBag.Title = "YourProducts";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>YourProducts</h2>
@if (Model != null)
{
    foreach (var prod in Model)
    {
        @Html.Partial("_OwnedProductPreview", prod);
    }
}

